# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs / databases
*.log
*.sqlite
*.db

# IDE/editor files
.vscode/
.idea/
*.swp
.DS_Store

# System files
Thumbs.db
